SECRET_KEY=troque-por-uma-chave-secreta
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1

GOOGLE_MAPS_API_KEY=sua-chave-do-google-maps

DB_ENGINE=django.db.backends.postgresql
DB_NAME=coletivo_bem_viver
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=coletivo_bem_viver_db
DB_PORT=5432
